/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
qodestone-estatio-firebase-adminsdk-9sjxu-3912e3175b.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
